@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Concert+One&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat+Alternates:ital,wght@0,200;0,300;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,500;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;500&family=Prompt:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&family=Slabo+13px&family=Slabo+27px&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --font-primary: 'Baloo Da 2', serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Mulish";
    --font-Baloo: 'Baloo Da 2', cursive;
    --font-Concert: 'Concert One', cursive;
    --font-Josefin: 'Josefin Slab', serif;
    --font-MerriweatherSans: 'Merriweather Sans', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Montserrat-Alternates: 'Montserrat Alternates', sans-serif;
    --font-Mulish: 'Mulish', sans-serif;
    --font-Open-Sans: 'Open Sans', sans-serif;
    --font-Oswald: 'Oswald', sans-serif;
    --font-Prompt: 'Prompt', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
    --font-Slabo-13px: 'Slabo 13px', serif;
    --font-Slabo-27px: 'Slabo 27px', serif;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 375px;
    font-size: 1rem;
    /* height: 100vh; */
    background-color: black;
}

.main-container {
    width: 100%;
    /* overflow: hidden; */
    /* border: 1px solid white; */
    margin: 0 auto;
}

.loader {
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}

.loader img {
    width: 10%;
}

.hamburguer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 2.8em;
    height: 2.8em;
    top: 2em;
    right: 2.2em;
    z-index: 100;
    cursor: pointer;
    transition: all 1s;
}

.show-menu .hamburguer {
    right: 22em;
}

.line {
    background-color: white;
    background-color: var(--bs-blue);
    width: 100%;
    height: 0.2em;
    box-shadow: 0 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1 {
    background-color: var(--bs-blue);
    transform: rotate(-45deg) translate(-0.38em, 0.42em);
}

.show-menu #line2 {
    visibility: hidden;
    opacity: 0;
}

.show-menu #line3 {
    background-color: var(--bs-blue);
    transform: rotate(45deg) translate(-0.48rem, -0.8rem);
}

.show-menu span::before {
    position: absolute;
    left: -1.1rem;
    content: "";
    border-right: 0.5rem solid var(--bs-blue);
    border-top: 0.6rem solid transparent;
    border-left: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
}

.hamburguer span {
    display: flex;
    padding: 10px 30px;
    font-size: 1em;
    text-transform: uppercase;
    position: absolute;
    left: 4.5em;
    color: white;
    background-color: var(--bs-blue);
    opacity: 0;
    transition: all 1s;
}

.show-menu span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}

.img-wrapper {
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    animation: zoom 10s;
}

@keyframes zoom {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    width: 60%;
    font-size: 1rem;
    top: 26vh;
    left: 10.5em;
    position: absolute;
}

.banner h1 {
    margin-bottom: 0.1em;
    font-size: 8.5em;
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .1em .1rem 1px rgba(0, 0, 0, .8);
    line-height: 1.2em;
    color: #ffffff;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    margin-bottom: 0.4em;
    font-family: var(--font-secondary);
    font-size: 3em;
    font-weight: 400;
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, .8);
    color: white;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button {
    padding: 1rem 3.5rem;
    font-family: var(--font-action);
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: .1em .1em 1px rgba(0, 0, 0, 1);
    border-radius: 5px;
    border-style: none;
    letter-spacing: .2rem;
    color: white;
    background-color: var(--bs-blue);
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    transition: all 1s;
}

.banner button:hover {
    cursor: pointer;
    background-color: rgb(61, 126, 238);
}

.sidebar {
    font-size: 1.1em;
    z-index: 1;
    background: var(--bs-dark);
    width: 26rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -26rem;
    font-family: var(--font-action);
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    transform: translate(0, -50%);
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.menu-link {
    margin: 0.2em;
    justify-content: space-between;
    color: var(--bs-blue);
    font-family: var(--font-action);
    font-size: 3em;
    transition: color 1s;
}

.menu-link:hover:hover {
    display: block;
    padding: 0 0.5rem;
    width: 100%;
    color: white;
    border-radius: 2rem;
    transition: 1s;
}

.social-media {
    font-size: 1rem;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 2em;
}

.social-media i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--bs-blue);
    font-size: 2.5em;
    transition: color 1s;
    padding: 0.7em;
}

.social-media i:hover {
    background-color: white;
    color: var(--bs-blue);
    border-radius: 2rem;
    transition: 1s;
}

.sessao-header {
    background-color: ;
    display: flex;
    justify-content: center;
    padding: 0;
}

.sessao-header h1 {
    margin: 1rem 0 0 0;
    color: white;
    font-family: var(--font-primary);
    font-size: 3rem;
    border-bottom: 0.3rem solid var(--bs-blue);
}

.conhecimentos {
    /* border: 0.1em solid white; */
    font-size: 1.6rem;
    position: relative;
    box-sizing: border-box;
    margin: 1rem auto 0 auto;
    width: 80%;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
    /*display: grid;
    grid-template-columns: repeat(autofix, minmax(30px,1fr));
    /*grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
    grid-template-rows: repeat(6, minmax(90px,6rem));
    row-gap: 4rem;*/
}

.conhecimento-header {
    display: flex;
    align-items: center;
}

.sessao-header h1 {
    font-size: 4.8em;
}

.conhecimento-header i {
    font-size: 3.2em;
    color: var(--bs-blue);
}

.conhecimento-header i,
h3 {
    margin-left: 0.2em;
}

.conhecimento-header h3 {
    padding: 0;
    margin-bottom: 0;
    font-family: var(--font-secondary);
    font-size: 2em;
    color: white;
}

.conhecimento-text {
    margin-top: 0.3rem;
    padding: 10px;
    background-color: var(--bs-dark);
    color: var(--bs-gray-400);
    font-family: var(--font-secondary);
    text-align: justify;
    border-radius: 5px;
    z-index: 2;
}

.conhecimentos-img-wrapper img {
    box-shadow: 0.1rem 0.1rem 20px white;
    border-radius: 1rem;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

.conhecimentos-img {
    position: relative;
}

.conhecimento-img img {
    z-index: -100;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 10%;
}

.projetos {
    border: 1px solid white;
    font-size: 1.6em;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1em;
    margin-top: 0.5em;
    box-sizing: border-box;
}

.card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* width: 16em;
    height: 22em; */
    background-color: transparent;
    position: relative;
    transition: all 1s;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 1);
    transition: all 1s;
}

.card-img-wrapper img {
    border-radius: 0.5em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .6;
    transition: all 1s;
}

.card:hover .card-img-wrapper img {
    opacity: 1;
    visibility: visible;
}

.card-info {
    /*opacity: 0;
    visibility: hidden;*/
    position: absolute;
    bottom: 0;
    /* transform: translate(0, 50%); */
    padding: 3em 4em 3em 2em;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .9);
    transition: all 1s;
}

.card-info h2 {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}

.card-info h3 {
    font-size: 1.1em;
    text-shadow: 0.1em 0.1em 1px rgba(0, 0, 0, .8);
    color: var(--bs-blue);
}

.card-info p {
    margin: 0.3em 0;
    text-align: justify;
    font-size: 0.7em;
    width: 80%;
    color: rgb(187, 187, 187);
}

.btn {
    font-size: 0.5em;
    text-transform: uppercase;
    color: white;
    background-color: var(--bs-blue);
    padding: 1em 2em;
    border: none;
    border-radius: 0.3rem;
}

.btn:hover {
    color: white;
    border: none;
    background-color: rgb(61, 126, 238);
    cursor: pointer;
}

.card:hover .card-info {
    opacity: 1;
    visibility: visible;
}

.sessao-contato {
    width: 80%;
    margin: 2em auto;
}

.contato-wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
}

.contato-wrapper img {
    z-index: -100;
    position: absolute;
    background-position: center;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.2;
    width: 100%;
    height: 100vh;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* border: 1px solid white; */
}

form {
    /* border: 1px solid white; */
    width: 60%;
    font-size: 2.5em;
    color: rgba(61, 126, 238, 0.8);
}

form button {
    font-size: 1em;
    margin: 0.7em 0;
}

.footer-content {
    background-color: rgba(61, 126, 238, 0.3);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.footer-content p {
    margin: 0.2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-family: var(--font-Baloo);
    color: white;
    width: 100%;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list ul {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-list i {
    font-size: 2.5em;
    color: rgb(61, 126, 238);
    padding: 0.2em;
}

.social-list i:hover {
    background-color: white;
    color: var(--bs-blue);
    border-radius: 1.5rem;
    transition: 1s;
}


/* media queries */

@media(max-width:967px) {
    .projetos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5rem;
    }
}

@media (max-width: 820px) {
    .conhecimentos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .projetos {
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .sessao-contato {
        width: 80%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contato {
        width: 100%;
        border: 1px solid white;
        margin: 0 auto;
    }
    form {
        width: 80%;
    }
}

@media (max-width: 582px) {
    .banner {
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 65%;
        left: 10%;
    }
    .banner h1 {
        font-size: 7em;
    }
    .projetos {
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 441px) {
    .banner {
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 65%;
        left: 10%;
    }
    .banner h1 {
        font-size: 6em;
    }
}

@media (max-width: 375) {
    .conhecimentos {
        width: 100%;
    }
    .main-container {
        width: 100%;
    }
    .banner h1 {
        font-size: 0.5em;
    }
    .sessao-projetos {
        display: block;
        /* border: 1px solid white; */
    }
    .projetos {
        display: block;
        margin: 0;
        /* border: 1px solid white; */
        width: 100%
    }
    .card {
        width: 50%
    }
}